@import url('https://fonts.googleapis.com/css?family=Krona+One|Open+Sans+Condensed:300');

/*Shared styles*/

body {
	font-family: arial,sans-serif;
}

.container-fluid {
	padding: 0px !important;
}

ul {
	list-style: none;
}

hr{ 
	width:100%;
}

/*Header styling*/

.the-header {
	width:980px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}

.header-title {
	font-family: Open Sans Condensed, sans-serif;
	font-size: 38px;
	color: #414141;
}

.nav-item {
	padding-right: 50px;
}


/*Jumbo styling*/

.the-jumbo {
	width:100%;
	height:500px;
	/*border: 1px solid black;*/
	margin-bottom: 5px;
	background-image: url("images/jumbo-img.jpg");
}

.jumbo-image {

}

/*About styling*/

.the-about {
	width:980px;
	/*border: 1px solid black;*/
	margin: 0 auto;
	margin-bottom: 15px;
}

.about-text {
	background-color: #4BD1A0;
	text-align: center;
	
}

#about-title {
	font-size:48px;
	color: white;
	font-family: 'Krona One', sans-serif;
}

/*Menus styling*/

.the-menus {
	width:980px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}

/*Footer styling*/

.the-footer {
	width:980px;
	/*border: 1px solid black;*/
	margin: 0 auto;
}

#mc_embed_signup{
	background:#fff; 
	clear:left;
	font:14px Helvetica,Arial,sans-serif; 
}

#mc_embed_signup form{
	padding: 0px 0px 0px 0px !important;
}

#mc_embed_signup .mc-field-group {
	width:100% !important;
}

#mc_embed_signup input.email{
	border-radius: 0;
	width:100%;
}

#mc_embed_signup input.button{
	border-radius: 0;
	background-color: rgba(65,65,65,1);
	width:100%;
}

.mail-icon, .file-icon{
	padding-right:2px;
}

.social-block li{
	display:inline-block;
}

/*Media queries*/


