@import url('https://fonts.googleapis.com/css?family=Krona+One|Open+Sans+Condensed:300');

/*Shared styles*/

body {
	font-family: Open Sans,sans-serif;
	line-height: 1.8;
}

.container-fluid {
	padding: 0px !important;
}

ul {
	list-style: none;
}

hr{ 
	width:100%;
}

a:hover{
	text-decoration: none;
}

/*Header styling*/

.social-icons-header {
	background-color: #9E9E9E;
	width: 100%;
	height: inherit;
}

.social-block {
	margin-top:0.5rem;
	margin-bottom:0.5rem;
}


.the-header {
	width:1100px;
	/*border: 1px solid black;*/
	margin: 0 auto;
	line-height: 80px;
}

.header-title {
	font-family: Open Sans Condensed, sans-serif;
	font-size: 38px;
	color: #414141;
}

.nav-item {
	padding-right: 5px; /*extra padding to the right*/
}


/*Jumbo styling*/

.the-jumbo{
	width:100%;
	margin: 0 auto;
}

.the-jumbo img {
	width:100%;
	max-height:500px;
	/*border: 1px solid black;*/
	margin-bottom: 5px;
	/*background-image: url("images/table.jpg");*/
	object-fit: cover; /*scale and maintain aspect ratio */
  	object-position: center;
}

.discount-banner {
	margin: 0 auto;
	width:80%;
}

.discount-banner img {
	max-height:90px;
	margin-bottom: 5px;
	object-fit: cover; /*scale and maintain aspect ratio */
  	object-position: center;
}

/*About styling*/

.the-about {
	width:100%;
	/*height: 393px;*/
	margin: 0 auto;
}

.about-text {
	/*background-color: #4BD1A0;*/
	/*background-color: #C97E0C;*/
	background-color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 80px 80px 80px 80px;	
}


#about-title {
	font-size:48px;
	font-family: 'Krona One', sans-serif;
}


/*How to styling*/

.how-to {
	margin-bottom: 20px;
	margin: 0 auto;
	width: 100%;
	background-color: #F5F5F5;
	padding-top: 50px;
	padding-bottom: 50px;
}

.howto-title {
	text-align: center;
	font-family: 'Krona One', sans-serif;
	margin-bottom: 60px;
}

.step-info {
	text-align: center;
}


/*Circle around the numbers*/
.step-header span {
	background: #DF4A38;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	color: #ffffff;
	display: inline-block;
	font-weight: bold;
	line-height: 38px;
	margin-right: 5px;
	margin-bottom: 20px;
	text-align: center;
	width: 38px; 
	display: inline-block;
}

.step-image{
	margin-bottom: 50px;
}

/*Menus styling*/

.the-menus {
	width:100%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.menus-header{
	text-align: center;
	font-family: 'Krona One', sans-serif;
	margin-bottom: 60px;
}

.the-menus a:hover{
	color: #FFFFFF;
}

.the-menus a{
	color: #000000;
}

.menu-cover{
	overflow: hidden;
}

h4{
	font-family: Open Sans Condensed, sans-serif;
}

.index-menu-header, .index-menu-details{
	width: 100%;
	margin: 0 auto !important;
}

.index-menu-header a{
	color:#C97E0C;
}

.index-menu-header a:hover{
	color:#C97E0C;
}

.full-label{
	color: #868e96;
	font-weight: bolder;
}

.available-label{
	color: #0DAE05;
	font-weight: bolder;
}

.menu-img{
	width: 100%;
	height: auto;
	display: block;
}

.menu-link{
	position: absolute;
	top: 40%;
	left: 40%;
	font-weight: bold;
	color: #ffffff;
}

.menu-title{
	font-weight: bold;
	max-height: 48px;
	line-height: 150%;
	overflow: hidden;
	margin-bottom: 5px;
	margin-top: 15px;
}

.menu-subtitle{
	font-size: 14px;
	line-height: 150%;
	max-height: 40px;
	overflow: hidden;
	color: #8b898d;
}


.menu-title {
	display:table; /*Set p tag to width of content*/
}

.menu-info{
	/*border:1px solid black;*/
	z-index: 10;
	position: absolute;
	width: 100%;
	margin:5% 10% 5% 10%;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 1.2em;
	color: #000000;

}



/*Event styling*/

.the-events {
	width:100%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.events-header{
	text-align: center;
	font-family: 'Krona One', sans-serif;
	margin-bottom: 60px;
}

.events-content{
	width:100%;
	margin: 0 auto;
}

.event-description{
	font-style: italic;
	font-weight: bold;
}

.event-booking-list{
	list-style: disc;
	padding-left:15px;
}

.event-details-btn{
	margin-bottom: 20px;
}

.events-grid{
	display: grid;
	width:90%;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-template-areas:
      "event-one event-two event-three";
}

.event1{
	grid-area:event-one;
}

.event2{
	grid-area:event-two;
}

.event3{
	grid-area:event-three;
}

#event1-image{
	width:100%;
	height:200px;
	background: url("images/foodtruck-banner.png");
	background-size:100% 100%;
	background-repeat: no-repeat;
}

#event2-image{
	width:100%;
	height:200px;
	background: url("images/lessons-flyer.png");
	background-size:100% 100%;
	background-repeat: no-repeat;
}

#event3-image{
	width:100%;
	height:200px;
	background: url("images/comingsoon.png");
	background-size:100% 100%;
	background-repeat: no-repeat;
}

.event-place_and_date{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 5px;
}

/*Footer styling*/

.the-footer {
	margin: 0 auto;
	padding:50px 150px 50px 150px;
}

.social-icons {
	display:inline-block;
}

/**** OXTAIL DETAILS PAGE STYLES ****/

.main-content{
	width:1024px;
	margin: 0 auto;
	line-height: 
}

.menu-item_oxtail{
	background-image: url(images/oxtail-port.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: content-box;
	width:100%;
	height: calc(100vh - 100px);
}

.title-dash{
	width:80px;
	border:1px solid;
	margin-left: 0px;
	margin-right: 0px;
}

.booking-text{
	display: inline;
}

.meetup-img{
	display: inline;
	max-width: 124px;
	height: auto;
}

.menu-item_about_title{
	font-weight: bold;
}

.app-image{
	display: inline-block;
	width: 200px;
	height: 300px;
}

.app-text{
	display: inline-block;
	width: 196px;
}

.dessert-image{
	display: inline-block;
	width: 200px;
	height: auto;
}

.dessert-text{
	display: inline-block;
	width: 196px;
}

.sides-dash{
	width: 200px;
	margin-left: 0px;
	margin-right: 0px;
}

h5{
	font-family: Open Sans Condensed, sans-serif;
}

.back-link{
	color:#C97E0C;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.back-link:hover{
	color:#000000;
}


/**** SESWAA DETAILS PAGE STYLES ****/

.menu-item_seswaa{
	background-image: url(images/seswaa-port.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-origin: content-box;
	width:100%;
	height: calc(100vh - 100px);
}

.broth-image{
	display: inline-block;
	width: 200px;
	height: auto;
}

.broth-text{
	display: inline-block;
	width: 196px;
}

.cake-image{
	display: inline-block;
	width: 200px;
	height: auto;
}

.cake-text{
	display: inline-block;
	width: 196px;
}


/***FOOTER FORM***/

#mc_embed_signup{
	background:#fff; 
	clear:left;
	font:14px Helvetica,Arial,sans-serif;
	margin-bottom: 50px; 
}

#mc_embed_signup form{
	padding: 0px 0px 0px 0px !important;
}

#mc_embed_signup .mc-field-group {
	width:100% !important;
}

.form-image{
	margin-left: 25%;
}

#mc_embed_signup input.email{
	border-radius: 0;
	width:100%;
}

#mc_embed_signup input.button{
	border-radius: 0;
	background-color: #444444;
	width:100%;
	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    font-size: 20px;
}

#mc_embed_signup input.button:hover{
	background-color: #37a63a;
}

.mail-icon, .file-icon{
	padding-right:2px;
}


/***Media queries***/

@media(min-width:576px) {

	.menu-info{
		max-width: 50% !important;

	}

}

@media(max-width:512px) {
	.social-block {
		margin: 0 auto;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		padding-left: 0;
}
}

@media(max-width:768px) {

	.about-text{
		padding: 10px 10px 10px 10px;
	}

	.the-footer{
		padding: 5px 5px 5px 5px;
	}

	.menu-info{
		font-size: 1em;
		margin: 0 auto;

	}

	.main-content{
		width:95%;
	}

	.menu-item_image{
		height: 30%;
	}

	.menu-item_about_title{
		text-align: center;
	}

	.menu-item_about_info{
		text-align: center;
	}

}

@media (max-width:1076px){
    .events-grid{
      grid-template-columns: 1fr;
      grid-template-areas:
        "event-one"
        "event-two"
        "event-three";
    }
  }
  




